@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit&display=swap");
:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent: hsla(0, 0%, 100%, 0.6);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue);
  font-size: 15px;
}
.main {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;

  background-color: var(--Dark-desaturated-blue);
  width: 1000px;
  margin-top: 100px;
}
.pargraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;

}
.pargraph h1 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;


}
.pargraph h1 span {
  color: var(--Soft-violet);
}
.pargraph p {
  color: var(--Slightly-transparent);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
} 
.test {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
.test h3 {
    color: var(--White);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  
}
.test span {

  text-transform: uppercase;
  color: var(--Slightly-transparent);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

}
.image {
position: relative;
}
img {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
align-self: flex-end;
filter:var(--Soft-violet);

}
.color {
  position: absolute;
  background-color: hsl(277, 50%, 53%);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
